<h3> Hello, <%- user.name %></h3>
<h5>Please click the link below to update user details or change your password</h5>
<a href="/userProfile"><button href="/receipt-blue" id="blue"> Edit Profile</button></a>
<a href="/receipt-blue"><button href="/receipt-blue" id="blue">Change Password</button></a>